@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url(animations.css);

:root {
    /* ================ Colors ================ */
    --c-accent: #FBBF07;
    --c-body-bg: #2D4057;
    --c-txt-white: #fcfcfc;
    --c-txt-black: #1E1E1E;
    --c-gray: #C4C4C4;

    /* ================ Font size (fz) and font family (ff) ================ */
    --fz-title: clamp(40px, 5vw, 58px);
    --fz-h1: clamp(32px, 4.096vw, 40px);
    --fz-h2: clamp(24px, 2.56vw, 32px);
    --fz-h3: clamp(18.72px, 1.6vw, 24px);
    --fz-pa: clamp(16px, 1vw, 18.72px);
    --fz-spn: clamp(13px, 0.9vw, 15px);
    --lh-pa: clamp(20px, 1.4vw, 24px);
    --ff-main: 'Inter', sans-serif;
    --ff-helper: 'Poppins', sans-serif;

    /* ================ z index ================ */
    --z-fixed: 999999;
    --z-back: 0;
    --z-behind: -5;
    --z-front: 5;


}

/* ========================================================= */
/* ==================== BASE CSS ==================== */
/* ========================================================= */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-radius: 0;
    /* width: 100%; */
    /* height: 100%; */

}

body {
    font-family: var(--ff-main);
    background-color: var(--c-body-bg);
    color: var(--c-txt-white);
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    border: none !important;

    max-width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--fw-bold);
    font-family: var(--ff-main);
}

p,
span {
    font-size: var(--fz-pa);
    font-weight: var(--fw-medium);
    font-family: var(--ff-main);
    line-height: 26px;

    color: var(--clr-black);
}


ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    display: block;
    /* max-width: 100%; */
    /* height: auto; */
}

a,
a:focus,
input:focus,
textarea:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


a:focus,
a:hover {
    text-decoration: none;
}

input {
    text-decoration: none;
    display: inline-block;
}

div,
figure,
main,
section,
footer,
ul {
    /* width: 100%; */
    /* height: 100%; */
}

/* ========================================================= */
/* ==================== UTILITY CLASSES ==================== */
/* ========================================================= */

.cnt-rw {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cnt-cl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.elli-marks {
    color: var(--c-accent);
    font-size: 20px;
    border: 1px solid var(--c-accent);
    border-radius: 50% / 50%;
    padding: 6px 3px;
    margin-bottom: -20px;
}

/* ========================================================= */
/* ==================== NAVIGATION BAR ==================== */
/* ========================================================= */

nav {
    padding: 00px calc(15vw/2);
    margin-top: 2.5vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 6vw;
    width: 100vw;
    /* border: 1px dotted red; */
    /* position: sticky;
    top:0;
    background-color: rgba(45, 64, 87, 0.97);
    z-index: var(--z-fixed); */
}
.sticky{
    
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.64);
}

.identifier {
    flex-grow: 0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 0;

    /* border: 1px dotted green; */
}

.identifier .wrapper-logo {
    width: 63px;
    aspect-ratio: 1/1;

    background-image: url(../assets/images/nav/jlogo.png);
    background-size: cover;
    background-position: 5px;
    background-repeat: no-repeat;
}

.identifier .name {
    font-size: var(--fz-h3);
    font-family: var(--ff-main);
    color: var(--c-accent);
    font-weight: 700;
    text-wrap: nowrap;
}

.links {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(10px, 4%, 40px);
    width: 100%;

    /* border: 1px dotted pink; */
}

.links a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c-txt-white);
    font-size: var(--fz-pa);
    padding: 16px;
    transition: color 0.3s ease;
    /* border: 1px solid black; */
}

.links a:hover {
    color: var(--c-accent);
}


.dlcv {
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;



}

.dlcv a.dl-btn {
    display: block;
    text-wrap: nowrap;
    border-radius: 12px;
    padding: 16px 24px;
    border: 2px solid var(--c-accent);
}



/* ========================================================= */
/* ==================== HERO-SECTION ==================== */
/* ========================================================= */
section.hero {
    width: 85vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* border: 1px solid red; */
}


/* ==================== left side ==================== */
.hero .texts {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    height: 100%;

    /* border: 1px dotted green; */

}


.hero .texts>h1 {
    font-size: var(--fz-title);

}

.hero .texts>h1 span {
    font-size: var(--fz-title);
    color: var(--c-accent);
}

.hero .texts>p.desc {
    color: var(--c-txt-white);
    font-size: var(--fz-pa);
    font-weight: 300;
    width: 80%;
    line-height: var(--lh-pa);
}

.hero .texts .cta-btns {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.hero .texts .cta-btns>a.hire {
    width: 150px;

    display: block;
    text-wrap: nowrap;
    text-align: center;
    border-radius: 12px;
    padding: 16px 40px;
    border: 2px solid var(--c-accent);
    font-family: var(--ff-main);
    font-weight: 500;
    transition: border-color 0.3s ease;
    background-color: var(--c-accent);
    color: var(--c-txt-black);
    animation: bn54rotate 1s linear 3;
    animation-delay: 5s;
}


a.hire:hover {
    border-color: var(--c-txt-white) !important;
    /* background-color: black!important; */
}

.view-proj {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.view-proj img {
    transition: filter 0.3s ease;
    filter: grayscale(100%);
}

.view-proj:hover img {
    filter: grayscale(0%);
}


/* ==================== right side ==================== */
.hero .graphics {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
}

.socmed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    gap: 40px;
}

.socmed span.line {
    width: 1px;
    min-height: 64px;
    max-height: 100px;
    flex-grow: 1;
    background-color: var(--c-accent);
}

.wrapper-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* ========================================================= */
/* ==================== STATS-SECTION ==================== */
/* ========================================================= */

section.stats {
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin: 5vw auto;
}

.divider-line {
    width: 2px;
    height: clamp(80px, 80vw, 100px);
    background-color: var(--c-accent);

}

.stats .item>h2 {
    color: var(--c-accent);
    font-size: var(--fz-title);
    font-family: var(--ff-helper);
    font-weight: 600;
    /* line-height: 48px; */
}

.stats .item>p {
    color: var(--c-txt-white);
    font-size: var(--fz-h2);
    font-family: var(--ff-helper);
    font-weight: 400;
    /* line-height: 28px; */
}


/* ========================================================= */
/* ==================== SKILLS-SECTION ==================== */
/* ========================================================= */
section.skills {
    width: 85vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ==================== texts ==================== */

.skills .texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    height: 100%;

    /* border: 1px dotted red; */
}

.skills .texts>h2 {
    font-size: var(--fz-h1);
}


.skills .texts>h2 span {
    font-size: var(--fz-h1);
    color: var(--c-accent);
}

.skills .texts>p.desc {
    color: var(--c-txt-white);
    font-size: var(--fz-pa);
    font-weight: 300;
    width: 80%;
    line-height: calc(var(--lh-pa) + 4px);
}

.skills .texts .cta-btn>a.contact {
    width: 150px;
    text-align: center;
    display: block;
    text-wrap: nowrap;
    border-radius: 12px;
    padding: 16px 4px;
    border: 2px solid var(--c-accent);
    font-family: var(--ff-main);
    font-weight: 500;
    transition: border-color 0.3s ease;
    background-color: var(--c-accent);
    color: var(--c-txt-black);
}

/* ==================== graphics ==================== */
.skills .graphics {
    display: grid;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid green; */
}

.graphics .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    /* width: 50%; */
}

.graphics .card {
    background-color: #FFFFFF;
    padding: 18px;
    color: var(--c-txt-black);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



/* ========================================================= */
/* ==================== PROJECT-SECTION ==================== */
/* ========================================================= */
section.projects {
    width: 85vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* ==================== texts ==================== */

.projects .texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    height: 100%;

    /* border: 1px dotted red; */
}

.projects .texts>h2 {
    font-size: var(--fz-h1);
}


.projects .texts>h2 span {
    font-size: var(--fz-h1);
    color: var(--c-accent);
}

.projects .texts>p.desc {
    color: var(--c-txt-white);
    font-size: var(--fz-pa);
    font-weight: 300;
    width: 80%;
    line-height: calc(var(--lh-pa) + 4px);
}

.projects .texts .cta-btn>a.contact {
    width: 150px;
    text-align: center;
    display: block;
    text-wrap: nowrap;
    border-radius: 12px;
    padding: 16px 4px;
    border: 2px solid var(--c-accent);
    font-family: var(--ff-main);
    font-weight: 500;
    transition: border-color 0.3s ease;
    background-color: var(--c-accent);
    color: var(--c-txt-black);
}

/* ==================== visuals ==================== */
.projects-visuals {
    display: grid;
    grid-template-columns: 4fr 5fr;
    /* align-items: center;
    justify-content: flex-start; */
    /* border: 1px dotted red; */
}

.projects-visuals>div.item {
    /* border: 1px dotted violet; */
}

.projects-visuals .highlight {
    /* width: 80%; */
    aspect-ratio: 9/16;

    background-image: url(../assets/images/projects/blue.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
}

.slide-show {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 5fr 1fr;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

.top-image {
    background-color: orange;
    z-index: 9;
    grid-area: 1/1/2/6;
    /* height: 70%; */
    aspect-ratio: 9/16;
    background-image: url(../assets/images/projects/orange.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mid-image {
    background-color: pink;
    z-index: 6;
    grid-area: 1/5/2/8;
    /* height: 50%; */
    aspect-ratio: 9/16;
    background-image: url(../assets/images/projects/pink.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bottom-image {
    background-color: blue;
    z-index: 3;
    grid-area: 1/7/2/9;
    /* height: 30%; */
    aspect-ratio: 9/16;
    background-image: url(../assets/images/projects/blue.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-show .controls {
    grid-area: 2/1/3/-1;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* border: 1px dotted white; */
}

.indicators,
.arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box-wrapper {
    border: 4px solid transparent;
    padding: 6px;
    /* margin-right: 12px; */
}

.box {
    height: 14px;
    width: 14px;
    background-color: #C4C4C4;
}

.active-box {
    background-color: var(--c-accent);
}

.active-wrapper {
    border: 2px solid #C4C4C4;
}

.arrows img {
    opacity: 70%;
}

.arrows img:hover {
    opacity: 100%;
}

.arr-btn{
    background-color: transparent;
    border: none;

}   

/* ========================================================= */
/* ==================== REVIEW-SECTION ==================== */
/* ========================================================= */
section.reviews {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviews .top-part {
    width: 85vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2vw;
    ;
    padding-right: 20px;
}

.review-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    height: 100%;
    overflow-x: hidden;
}

.review-texts h2 {
    font-size: var(--fz-h1);
}

.review-texts h2>span {
    font-size: var(--fz-h1);
    color: var(--c-accent);
}

.review-cards {
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    gap: 20px;

    /* border: 2px solid red; */

}

.review-cards .item {
    flex-shrink: 0;
    width: calc(100vw/3);
    padding: 40px;
    background-color: var(--c-txt-white);
    color: var(--c-txt-black);
    height: auto;
    border-radius: 8px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    animation: slideAnimation 20s linear infinite;
}

.review-cards .item img.rating {
    width: 140px;
}

.reviewer-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.reviewer-profile .info>p {
    font-weight: 700;
}

.reviewer-profile .info>span {
    color: #C4C4C4;
    font-size: var(--fz-pa);
    font-weight: 500;
}



/* ========================================================= */
/* ==================== CONTACT-SECTION ==================== */
/* ========================================================= */
section.contact {
    width: 85vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.contact-texts>h2 {
    font-size: var(--fz-h1);
}


.contact-texts>h2 span {
    font-size: var(--fz-h1);
    color: var(--c-accent);
}

.contact-texts>p.desc {
    color: var(--c-txt-white);
    font-size: var(--fz-pa);
    font-weight: 300;
    width: 80%;
    margin: auto;
    line-height: calc(var(--lh-pa) + 4px);
}

.contact .main {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 40px;
    margin-top: 2.5vw;
    /* border: 2px solid red; */
}

.my-contact-info {
    width: 100%;
    /* border: 1px dotted gray; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.contact-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
    background-color: var(--c-txt-white);
    border-radius: 12px;
}

.contact-card>.content>span {
    color: var(--c-txt-black);
    font-size: var(--fz-pa);
    font-weight: 400;
    line-height: calc(var(--lh-pa) + 4px);
    opacity: 80%;
}

.contact-card>.content>p {
    color: var(--c-txt-black);
    font-size: var(--fz-pa);
    font-weight: 500;
    line-height: calc(var(--lh-pa) + 4px);
}


.contact-form {
    /* border: 1px dotted gray; */
    /* padding: 0 20px; */
    border-radius: 12px;
    /* background-color:var(--c-txt-white); */
    /* color: var(--c-txt-black); */
}

.contact-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    justify-items: auto;
    gap: 20px;
    position: relative;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

input {
    flex-grow: 1;
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-size: var(--fz-pa);
}

textarea {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-size: var(--fz-pa);
    flex-grow: 1;
    resize: none;
}

textarea::placeholder {
    font-size: var(--fz-pa);
    font-family: var(--ff-main);
}


.contact-btn {
    width: 150px;
    text-align: center;
    display: block;
    text-wrap: nowrap;
    border-radius: 12px;
    padding: 16px 4px;
    border: 2px solid var(--c-accent);
    font-family: var(--ff-main);
    font-weight: 400;
    transition: border-color 0.3s ease;
    background-color: var(--c-accent);
    color: var(--c-txt-black);
    font-size: var(--fz-pa);
    /* align-self: flex-end; */

    /* position: absolute; */
}



/* ========================================================= */
/* ====================     FOOTER   ==================== */
/* ========================================================= */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:85vw;
    padding-top: 3vw;
    padding-bottom: 2vw;
    border-top: 1px solid var(--c-gray);
    font-family: var(--ff-main);
}

div.social-media{
    display: flex;
    gap: 10px;
    
}
div.social-media img{
    width: 20px;
    /* aspect-ratio: 1/1; */
    object-fit: contain;
}